/* MediaQuery */
@media screen and (max-width:768px) {
    .listrow nav ul {
        display: none;
    }

    .hamburguesa {
        display: flex;
        padding: 0.625rem;
        margin: 1rem;
        background-color: #2D4F92;
        border: solid #000;
        color: #fff;
    }

    .hamburguesa:hover {
        background-color: #000;
        color: #fff;
        border: solid #2D4F92;
    }
}