@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
/* font-family: 'Oswald', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*Acá apliqué grid pero todavia no me decido si poner un aside o algo más*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "main"
        "footer";
    grid-template-rows: auto;
}

body {
    background-color: #2D4F92;
    background-image: radial-gradient(#444cf7 0.3125rem, transparent 0.3125rem), radial-gradient(#444cf7 0.3125rem, #2D4F92 0.3125rem);
    background-size: 1, 25rem 1, 25rem;
    background-position: 0 0, 0, 625rem 0, 625rem;
}

/* START - Principio del F O O T E R */

footer {
    background-color: #000;
    height: auto;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.contenedorfoot {
    display: flex;
    justify-content: space-between;
}

.contenedorfoot__derechos {
    display: flex;
    align-items: center;
    padding: 1rem;
}

/* END - Fin del F O O T E R */

/* START - Principio del H E A D E R */

.dleft {
    display: flex;
    align-items: center;
}

.dleft a img {
    width: 6rem;
    height: 6rem;
    background-size: contain;
}

.listrow {
    display: flex;
    align-items: center;
    margin: 0, 625rem;
    padding: 0, 625rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
}

.bg-propio {
    background-color: rgba(45, 103, 226, 0.925) !important;
}

/* END - Fin del H E A D E R */
/* START - Esto va a ser predeterminado para LISTAS ROW */

.listrow ul li {
    list-style: none;
    display: inline-flex;
    margin: 1rem;
}

.listrow ul li a {
    text-decoration: none;
    color: #000;
}

.listrow ul li a:hover {
    color: #000ff0;
}

/* END - Esto va ser predeterminado para LISTAS */

/* START - Principio de I N I C I O */

.presentacion {
    font-family: 'Oswald', sans-serif;
}

.presentacion h1 {
    text-align: center;
}

.presentacion p {
    text-align: justify;
    margin: 2rem;
}

.presentacion h3 {
    text-align: center;
}

.galeriamenu {
    border: solid #000;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(0, 0, 0);
    height: auto;
}

.galeriamenu img {
    width: 100%;
    height: 18, 75rem;
    background-size: contain;
}

.botoncontacto {
    text-align: center;
    margin: 0 auto;
}

.botoncontacto a input {
    padding: 1rem;
    color: #000;
    background-color: #444cf7;
}

.botoncontacto a input:hover {
    background-color: red;
    color: white;
}

/* END - Fin de I N I C I O */



/* START - Este será el menu principal de N O S O T R O S */

.nosotrosmenu {
    display: flex;
    justify-content: center;
}

.nosotrosmenu img {
    background-size: cover;
    width: 80%;
    margin: 1, 875rem;
}

.textomenu {
    text-align: center;
    text-align: justify;
    margin: 1rem;
    padding: 0, 625rem;
}

.textomenu h2 {
    text-align: center;
    margin: 1rem;
}



/* END - fin de menu principal de N O S O T R O S */


/* START - Principio de C O N T A C T O */

.divcontacto {
    margin: 2.5rem;
}

.contacto {
    background-color: #ffffff;
    background-image: radial-gradient(#bdbdbd 0, 028125rem, transparent 0, 028125rem), radial-gradient(#bdbdbd 0, 028125rem, #ffffff 0, 028125rem);
    background-size: 1, 125rem 1, 125rem;
    background-position: 0 0, 0, 5625rem 0, 5625rem;
    border: solid #000;
    width: 80%;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
}

.contacto__texto {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0, 8rem;
}

.contacto__int {
    font-family: 'Oswald', sans-serif;
    padding: 0, 5rem;
    margin: 0.2rem;
}

.contacto__int__bot {
    font-family: 'Oswald', sans-serif;
    padding: 0, 1875rem;
    margin: 0.2rem;
    background-color: #2D4F92;
}

.contacto__int__bot:hover {
    color: white;
}

/* END - fin de formulario de C O N T A C T O */


/* START - principio de G A L E R Í A */

/* .galeria {
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1,25rem;
    border: dashed rgb(255, 255, 255);
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
Esto habia sido con flex.
*/
.menugaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulogaleria {
    font-size: 4rem;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.galeria img {
    width: 13rem;
    height: 14rem;
}

.galeria {
    width: 80%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 0.625rem;
    margin: 0 auto;
}

/* END - fin de G A L E R Í A */


/* START - Principio de L A V A D O */

.proceso {
    font-family: 'Oswald', sans-serif;
    width: 95%;
    max-width: 100%;
    margin: 1rem auto;
    border: solid #000;
    background-color: #ffffff;
    background-image: radial-gradient(#bdbdbd 0, 028125rem, transparent 0, 028125rem), radial-gradient(#bdbdbd 0, 028125rem, #ffffff 0, 028125rem);
    background-size: 1, 125rem 1, 125rem;
    background-position: 0 0, 0, 5625rem;
}

.proceso ul li {
    margin-left: 3, 125rem;
}

.proceso h3 {
    font-size: 3rem;
}

.proceso li {
    font-size: 1.3rem;
}

.proceso__titulo {
    text-align: center;
    font-size: 4rem;
    font-style: oblique;
}

.proceso__lavado__1 {
    padding: 4rem;
}

.proceso__lavado__2 {
    padding: 4rem;
}

.proceso__lavado__3 {
    padding: 4rem;
}

/* END - Fin de L A V A D O */

@media screen and (max-width:768px) {
    .listrow nav ul {
        display: none;
    }

    .hamburguesa {
        display: flex;
        padding: 0.625rem;
        margin: 1rem;
        background-color: #2D4F92;
        border: solid #000;
        color: #fff;
    }

    .hamburguesa:hover {
        background-color: #000;
        color: #fff;
        border: solid #2D4F92;
    }

    /* Galeria */
    .titulogaleria {
        font-size: 2rem;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    /*Fin de Galeria */
}